.banner {
    background-image: url("../images/ny3.jpg");
    height: 200px;
    display: flex;             /* Enable Flexbox */
    align-items: center;      /* Center vertically */
    justify-content: center;  /* Center horizontally */
}

.banner h1 {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    color: #fff;

}
